#socialMedia{
    position: relative;
    float: left;
    width: 390px;
    height: 600px;
    background-color: magenta;
}

#contactForm {
    position: relative;
    float: left;
    width: 550px;
    height: 600px;
    margin-right: 20px;
    background-color: cyan;
}