#email{
    position: relative;
    float: left;
    width: 600px;
    height: 100px;
    margin: 0px 180px 10px 180px;
    background-color: #1bd6d8;
}

#socialMedia{
    position: relative;
    float: left;
    width: 600px;
    height: 400px;
    margin: 0px 180px 20px 180px;
    background-color: #e014bc;
}

#navContactOn.navButtonLight{
    opacity: 1;
}