a:link {
    color: lightgray;
    text-decoration: underline;
}

a:visited {
    color: lightgray;
}

a:hover {
    text-shadow: 0px 0px 5px cyan;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

#filter{
    margin-bottom: 10px;
    padding-left: 20px;
    height: 60px;
    width: 205px;
    background-color: black;
    background-image: url("../images/bkd_filter_gd.png");
    color: lightgrey;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 17px;
    line-height: 60px;
}

#all{
    cursor: pointer;
    color: lightgrey;
    text-decoration: underline;
}

#all:hover{
    text-shadow: 0px 0px 7px cyan;
}

#all.selected{
    text-shadow: 0px 0px 7px cyan;
    text-decoration: none;
}

#analog{
    cursor: pointer;
    color: lightgrey;
    text-decoration: underline;
}

#analog:hover{
    text-shadow: 0px 0px 7px cyan;
}

#analog.selected{
    text-shadow: 0px 0px 7px cyan;
    text-decoration: none;
}

#digital{
    cursor: pointer;
    color: lightgrey;
    text-decoration: underline;
}

#digital:hover{
    text-shadow: 0px 0px 7px cyan;
}

#digital.selected{
    text-shadow: 0px 0px 7px cyan;
    text-decoration: none;
}

section{
    position: relative;
    float: right;
    height: auto;
    width: 370px;
    margin: 30px;
}

.video{
    position: relative;
    float: right;
    margin: 30px 0px 30px 30px;
}

.thumbnail{
    position: relative;
    float: right;
    background-image: url("../images/ThumbnailTemp.png");
    background-position: 0px -330px;
    height: 280px;
    width: 500px;
    margin: 30px 0px 30px 30px;
    -webkit-transition: background-position 0.5s ease-in-out;
    -moz-transition: background-position 0.5s ease-in-out;
    -ms-transition: background-position 0.5s ease-in-out;
    -o-transition: background-position 0.5s ease-in-out;
    transition: background-position 0.5s ease-in-out;
}

.thumbnail:hover{
    background-position: 0px 0px;
}

.analogGames{
    overflow: hidden;
    max-height: 500px;
    max-width: 960px;
    height: auto;
    width: 960px;
    margin-bottom: 10px;
    background-color: black;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: lightgray;
}

.analogGames.hide{
    margin-bottom: 0px;
    max-width: 0px;
    max-height: 0px;
}

.digitalGames{
    overflow: hidden;
    max-height: 500px;
    max-width: 960px;
    height: auto;
    width: 960px;
    margin-bottom: 10px;
    padding-left: 0px;
    background-color: black;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: lightgrey;
}

.digitalGames.hide{
    margin-bottom: 0px;
    max-width: 0px;
    max-height: 0px;
}