#filter{
    margin-bottom: 10px;
    height: 50px;
    width: 960px;
    background-color: magenta;
}

section{
    position: relative;
    float: right;
    background-color: white;
    height: 330px;
    width: 370px;
    margin: 30px;
}

.thumbnail{
    position: relative;
    float: right;
    background-image: url("../images/ThumbnailTemp.png");
    background-position: 0px -330px;
    height: 330px;
    width: 500px;
    margin-top: 30px;
    margin-left: 30px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.thumbnail:hover{
    background-position: 0px 0px;
}

.analogGames{
    overflow: hidden;
    max-height: 500px;
    max-width: 960px;
    height: auto;
    width: 960px;
    margin-bottom: 10px;
    background-color: cyan;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.analogGames.hide{
    margin-bottom: 0px;
    max-width: 0px;
    max-height: 0px;
}

.digitalGames{
    overflow: hidden;
    max-height: 500px;
    max-width: 960px;
    height: auto;
    width: 960px;
    margin-bottom: 10px;
    padding-left: 0px;
    background-color: magenta;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.digitalGames.hide{
    margin-bottom: 0px;
    max-width: 0px;
    max-height: 0px;
}