#navGameOn.navButtonLight{
    opacity: 1;
}

a:link {
    color: #fff2f2;
    text-decoration: underline;
}

a:visited {
    color: #fff2f2;
}

a:hover {
    color: white;
    text-shadow: 0px 0px 5px #1bd6d8;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

body{
    background: black url("../images/bkd_cyan_main.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#filter{
    margin-bottom: 10px;
    padding-left: 20px;
    height: 60px;
    width: 205px;
    border-radius: 3px;
    background-image: url("../images/bkd_game_filter.png");
    color: #fff2f2;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 17px;
    line-height: 60px;
}

#all{
    cursor: pointer;
    color: #fff2f2;
}

#all:hover{
    color: white;
    text-shadow: 0px 0px 7px #1bd6d8;
}

#all.selected{
    color: white;
    text-shadow: 0px 0px 7px #1bd6d8;
}

#analog{
    cursor: pointer;
    color: #fff2f2;
}

#analog:hover{
    color: white;
    text-shadow: 0px 0px 7px #1bd6d8;
}

#analog.selected{
    color: white;
    text-shadow: 0px 0px 7px #1bd6d8;
}

#digital{
    cursor: pointer;
    color: #fff2f2;
}

#digital:hover{
    color: white;
    text-shadow: 0px 0px 7px #1bd6d8;
}

#digital.selected{
    color: white;
    text-shadow: 0px 0px 7px #1bd6d8;
}

section{
    position: relative;
    float: right;
    height: auto;
    width: 370px;
    margin: 30px;
}

.video{
    position: relative;
    float: right;
    margin: 30px 0px 30px 30px;
}

.thumbnail{
    position: relative;
    float: right;
    background-image: url("../images/ThumbnailTemp.png");
    background-position: 0px -330px;
    border-radius: 3px;
    height: 280px;
    width: 500px;
    margin: 30px 0px 30px 30px;
    -webkit-transition: background-position 0.5s ease-in-out;
    -moz-transition: background-position 0.5s ease-in-out;
    -ms-transition: background-position 0.5s ease-in-out;
    -o-transition: background-position 0.5s ease-in-out;
    transition: background-position 0.5s ease-in-out;
}

.analogGames{
    overflow: hidden;
    max-height: 500px;
    max-width: 960px;
    height: auto;
    width: 960px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-image: url('../images/bkd_game_sections.png');
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: #fff2f2;
}

.analogGames.hide{
    margin-bottom: 0px;
    max-width: 0px;
    max-height: 0px;
}

.digitalGames{
    overflow: hidden;
    max-height: 500px;
    max-width: 960px;
    height: auto;
    width: 960px;
    margin-bottom: 10px;
    padding-left: 0px;
    border-radius: 3px;
    background-image: url('../images/bkd_game_sections.png');
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: #fff2f2;
}

.digitalGames.hide{
    margin-bottom: 0px;
    max-width: 0px;
    max-height: 0px;
}

.overlay{
    position: absolute;
    width: 450px;
    height: 255px;
    padding: 25px 0px 0px 50px;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.overlay.show{
    opacity: 1;
}

.overlay a:link{
    text-decoration: none;
}

.overlay p{
    text-shadow: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    padding-bottom: 5px;
}