#gdImage{
    position: relative;
    float: left;
    width: 400px;
    height: 400px;
    margin: 0px 0px 10px 50px;
    background-color: cyan;
}

#gdImage:hover{
    box-shadow: 0 0 10px cyan;
}

#gdText{
    position: relative;
    float: left;
    width: 400px;
    height: 200px;
    margin: 0px 0px 20px 50px;
    background-color: cyan;
}

#vmImage{
    position: relative;
    float: right;
    width: 400px;
    height: 400px;
    margin: 0px 50px 10px 0px;
    background-color: magenta;    
}

#vmImage:hover{
    box-shadow: 0 0 10px magenta;
}

#vmText{
    position: relative;
    float: right;
    width: 400px;
    height: 200px;
    margin: 0px 50px 20px 0px;
    background-color: magenta;    
}