header.shrink {
    background-image: url("../images/bkd_header_index.jpg");
}

a.gameLinks:link {
    color: #fff2f2;
    text-decoration: underline;
}

a.gameLinks:visited {
    color: #fff2f2;
}

a.gameLinks:hover {
    color: white;
    text-shadow: 0px 0px 5px #1bd6d8;
    text-decoration: none;
}

a.gameLinks:active {
    text-decoration: underline;
}

a.visualLinks:link {
    color: #fff2f2;
    text-decoration: underline;
}

a.visualLinks:visited {
    color: #fff2f2;
}

a.visualLinks:hover {
    color: white;
    text-shadow: 0px 0px 5px #e014bc;
    text-decoration: none;
}

a.visualLinks:active {
    text-decoration: underline;
}

a.blogLinks:link {
    color: #fff2f2;
    text-decoration: underline;
}

a.blogLinks:visited {
    color: #fff2f2;
}

a.blogLinks:hover {
    color: white;
    text-shadow: 0px 0px 5px white;
    text-decoration: none;
}

a.gameLinks:active {
    text-decoration: underline;
}

body{
    background: black url("../images/bkd_index_main.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#gdImage{
    position: relative;
    width: 630px;
    height: 70px;
    margin: 0px auto 0px auto;
    padding: 0px;
    background-image: url(../images/bkd_index_games.png);
    background-size: 630px, 70px;
    border-radius: 3px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#gdImage:hover{
    background-image: url(../images/bkd_index_games_text.png);
    height: 185.5px;
    background-size: 630px, 185.5px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#vmImage{
    position: relative;
    width: 630px;
    height: 70px;
    margin: 15px auto 0px auto;
    background-image: url(../images/bkd_index_visuals.png);
    background-size: 630px, 70px;
    border-radius: 3px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#vmImage:hover{
    background-image: url(../images/bkd_index_visuals_text.png);
    height: 185.5px;
    background-size: 630px, 185.5px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#blogImage {
    position: relative;
    width: 630px;
    height: 70px;
    margin: 15px auto 0px auto;
    background-image: url(../images/bkd_index_blog.png);
    background-size: 630px, 70px;
    border-radius: 3px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#blogImage:hover{
    background-image: url(../images/bkd_index_blog_text.png);
    height: 185.5px;
    background-size: 630px, 185.5px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/*.overlay{
    position: absolute;
    width: 250px;
    height: 250px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    border-radius: 3px;
    cursor: default;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15.7px;
    color: #fff2f2;
    text-align: left;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.overlay.show{
    opacity: 1;
}

.overlay a:link{
    text-decoration: none;
}

.overlay p{
    text-shadow: none;
}*/

#projects{
    position: relative;
    width: 560px;
    height: auto;
    margin: 15px auto 0px auto;
    padding: 30px;
    border-radius: 5px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15.7px;
    color: #fff2f2;
    background: rgba(0, 0, 0, 0.6);
}