header.shrink {
    background-image: url("../images/bkd_header_index.jpg");
}

a.gameLinks:link {
    color: #fff2f2;
    text-decoration: underline;
}

a.gameLinks:visited {
    color: #fff2f2;
}

a.gameLinks:hover {
    color: white;
    text-shadow: 0px 0px 5px #1bd6d8;
    text-decoration: none;
}

a.gameLinks:active {
    text-decoration: underline;
}

a.visualLinks:link {
    color: #fff2f2;
    text-decoration: underline;
}

a.visualLinks:visited {
    color: #fff2f2;
}

a.visualLinks:hover {
    color: white;
    text-shadow: 0px 0px 5px #e014bc;
    text-decoration: none;
}

a.visualLinks:active {
    text-decoration: underline;
}

a.blogLinks:link {
    color: #fff2f2;
    text-decoration: underline;
}

a.blogLinks:visited {
    color: #fff2f2;
}

a.blogLinks:hover {
    color: white;
    text-shadow: 0px 0px 5px white;
    text-decoration: none;
}

a.gameLinks:active {
    text-decoration: underline;
}

body{
    background: black url("../images/bkd_index_main.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#gdImage{
    position: relative;
    float: left;
    width: 310px;
    height: 310px;
    padding: 0px;
    margin: 0px 15px 0px 0px;
    background-image: url(../images/bkd_index_games.jpg);
    background-size: 310px, 310px;
    border-radius: 3px;
}

#gdImage:hover{
    box-shadow: 0 0 10px #1bd6d8;
}

#vmImage{
    position: relative;
    float: left;
    width: 310px;
    height: 310px;
    background-image: url(../images/bkd_index_visuals.jpg);
    background-size: 310px, 310px;
    border-radius: 3px;
}

#vmImage:hover{
    box-shadow: 0 0 10px #e014bc;
}

#blogImage {
    position: relative;
    float: left;
    width: 310px;
    height: 310px;
    margin: 0px 15px 0px 0px;
    background-image: url(../images/bkd_index_blog.png);
    background-size: 310px, 310px;
    border-radius: 3px;
}

#blogImage:hover{
    box-shadow: 0 0 10px white;
}

.overlay{
    position: absolute;
    width: 250px;
    height: 250px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    border-radius: 3px;
    cursor: default;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15.7px;
    color: #fff2f2;
    text-align: left;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.overlay.show{
    opacity: 1;
}

.overlay a:link{
    text-decoration: none;
}

.overlay p{
    text-shadow: none;
}

#projects{
    position: relative;
    float: left;
    width: 575px;
    height: 270px;
    margin-top: 15px;
    padding: 30px;
    border-radius: 3px;
    padding: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15.7px;
    color: #fff2f2;
    background: rgba(0, 0, 0, 0.7);
}

#thanks{
    position: relative;
    float: right;
    width: 250px;
    height: 270px;
    margin-top: 15px;
    padding: 0px;
    border-radius: 3px;
    padding: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15.7px;
    color: #fff2f2;
    background: rgba(0, 0, 0, 0.7);
}