root { 
    display: block;
}

html{
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 100%;
    background-color: lightgrey;
}

main {
    display: block;
    position: relative;
    margin: 165px auto -100px auto;
    width: 960px;
    overflow: auto;
    background-color: magenta;
}

header{
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 150px;
    width: 100%;
    min-width: 960px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header:hover{
    box-shadow: 0px 2px 10px cyan;
}

header.stepOne {
    height: 100px;
}

header.stepTwo {
    height: 50px;
}

#navLinks{
    position: relative;
    width: 960px;
    min-width: 960px;
    height: 100%;
    margin: 0px auto 0px auto;
}

#navAbout{
    background: url("../images/btn_nav_about.png");
    display: block;
    position: relative;
    width: 150px;
    height: 50px;
    float: left;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#navAbout:hover {
    background-position: 0px -50px;
}

#navAbout:active {
    background-position: 0px 0px;
}

#navGame{
    background: url("../images/btn_nav_games.png");
    display: block;
    position: relative;
    width: 150px;
    height: 50px;
    float: left;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#navGame:hover {
    background-position: 0px -50px;
}

#navGame:active {
    background-position: 0px 0px;
}

#navLogo{
    background: url("../images/nav_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: relative;
    width: 240px;
    height: 100px;
    float: left;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#navLogo.stepOne{
    background-size: 75%;
    height: 75px;
}

#navLogo.stepTwo{
    background-size: 50%;
    height: 50px;
}

#navVisual{
    background: url("../images/btn_nav_visual.png");
    display: block;
    position: relative;
    width: 150px;
    height: 50px;
    float: left;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#navVisual:hover {
    background-position: 0px -50px;
}

#navVisual:active {
    background-position: 0px 0px;
}

#navContact{
    background: url("../images/btn_nav_contact.png");
    display: block;
    position: relative;
    width: 150px;
    height: 50px;
    float: left;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#navContact:hover {
    background-position: 0px -50px;
}

#navContact:active {
    background-position: 0px 0px;
}

#push{
    height: 100px;
}

footer {
    background-color: black;
    position: relative;
    clear: both;
    height: 100px;;
    width: auto;
    min-width: 960px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

footer:hover{
    padding-bottom: 170px;
    box-shadow: 0px -2px 10px magenta;
}

#footerInfo{
    position: relative;
    width: 960px;
    min-width: 960px;
    height: 100%;
    margin: 0px auto 0px auto;
}

.footerSections{
    position: relative;
    float: left;
    width: 240px;
    margin-top: 20px;
    color: white;
    overflow: hidden;
}

.footerLinks{
    position: relative;
    margin-bottom: 10px;
    height: auto;
    max-height: 25px;
    overflow: hidden;
    line-height: 23px;
    font-size: 15px;
    -webkit-transition: max-height 0.2s ease-in-out;
    transition: max-height 0.2s ease-in-out;
}

.footerLinks.expand{
    -webkit-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
    max-height: 150px;
}

.footerLinks p{
    margin: 0px;
    padding: 0px;
    color: lightgrey;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.footerLinks.expand:hover p{
    margin-left: 5px;
    color: white;
}

.footerLinks.expand p.gameDesign{
    text-shadow: 0px 0px 10px cyan;
}

.footerLinks.expand p.visualMedia{
    text-shadow: 0px 0px 10px magenta;
}