a:link {
    color: #fff2f2;
    text-decoration: underline;
}

a:visited {
    color: #fff2f2;
}

a:hover {
    color: white;
    text-shadow: 0px 0px 5px #1bd6d8;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

.returnLink {
    color: white;
    font-size: 19px;
    line-height: 150%;
}

body{
    background: black url("../images/bkd_projects_main.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title{
    width: 960px;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 20px;
}

#images{
    position: relative;
    float: left;
    width: 590px;
    height: auto;
    margin: 0px 0px 20px 5px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
}

.overlay{
    position: absolute;
    width: 590px;
    height: 250px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 28px;
    color: #fff2f2;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.overlay.show{
    opacity: 1;
}

.overlay a:link{
    text-decoration: none;
}

aside{
    position: relative;
    float: right;
    width: 265px;
    height: auto;
    margin: 0px 5px 0px 5px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: #fff2f2;
}

article{
    position: relative;
    float: left;
    width: 590px;
    height: auto;
    margin: 0px 0px 20px 5px;
    padding: 10px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: #fff2f2;
}

.titles{
    text-shadow: 0px 0px 8px #1bd6d8;
    color: white;
    font-size: 19px;
    line-height: 200%;
}

.headings{
    text-shadow: 0px 0px 8px #1bd6d8;
    color: white;
    font-size: 16px;
    line-height: 150%;
}
