a:link {
    color: cyan;
    text-decoration: none;
}

a:visited {
    color: cyan;
}

a:hover {
    color: magenta;
    text-decoration: none;
}

a:active {
    color: magenta;
    text-decoration: underline;
}

.anchor{
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

#filter{
    margin-bottom: 10px;
    height: 50px;
    width: 545px;
    padding-left: 30px;
    background-color: black;
    color: lightgrey;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 50px;
}

#all{
    cursor: pointer;
    color: lightgrey;
}

#all:hover{
    color: magenta;
}

#all.selected{
    color: cyan;
}

#photo{
    cursor: pointer;
    color: lightgrey;
}

#photo:hover{
    color: magenta;
}

#photo.selected{
    color: cyan;
}

#video{
    cursor: pointer;
    color: lightgrey;
}

#video:hover{
    color: magenta;
}

#video.selected{
    color: cyan;
}

#web{
    cursor: pointer;
    color: lightgrey;
}

#web:hover{
    color: magenta;
}

#web.selected{
    color: cyan;
}

#graphic{
    cursor: pointer;
    color: lightgrey;
}

#graphic:hover{
    color: magenta;
}

#graphic.selected{
    color: cyan;
}

section{
    position: relative;
    float: right;
    height: auto;
    width: 370px;
    margin: 30px;
}

.video{
    position: relative;
    float: right;
    margin: 30px 0px 30px 30px;
}

.thumbnail{
    position: relative;
    float: right;
    height: 280px;
    width: 500px;
    margin: 30px 0px 30px 30px;
    background-color: white;
    -webkit-transition: background-position 0.5s ease-in-out;
    -moz-transition: background-position 0.5s ease-in-out;
    -ms-transition: background-position 0.5s ease-in-out;
    -o-transition: background-position 0.5s ease-in-out;
    transition: background-position 0.5s ease-in-out;    
}

.photography{
    margin-bottom: 10px;
    height: auto;
    width: 960px;
    max-height: 500px;
    max-width: 960px;
    background-color: black;
    overflow: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: lightgray;
}

.photography.hide{
    margin-bottom: 0px;
    max-width: 0px;
    max-height: 0px;
}

.videography{
    margin-bottom: 10px;
    height: auto;
    width: 960px;
    max-height: 500px;
    max-width: 960px;
    background-color: black;
    overflow: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: lightgray;
}

.videography.hide{
    margin-bottom: 0px;
    max-width: 0px;
    max-height: 0px;
}

.webDesign{
    margin-bottom: 10px;
    height: auto;
    width: 960px;
    max-height: 500px;
    max-width: 960px;
    background-color: black;
    overflow: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: lightgray;
}

.webDesign.hide{
    margin-bottom: 0px;
    max-width: 0px;
    max-height: 0px;
}

.graphicDesign{
    margin-bottom: 10px;
    height: auto;
    width: 960px;
    max-height: 500px;
    max-width: 960px;
    background-color: black;
    overflow: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: lightgray;
}

.graphicDesign.hide{
    margin-bottom: 0px;
    max-width: 0px;
    max-height: 0px;
}

.link{
    color: cyan;
}


